# Binarios compilados
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Directorios de salida de compilación
/bin/
/pkg/

# Dependencias
/vendor/

# Archivos de configuración específicos del entorno
.env
.env.local

# Archivos generados por el IDE
.idea/
*.swp
*.swo

# Archivos de estado del sistema
.DS_Store

# Carpetas específicas de Docker
.docker/
docker-compose.override.yml

# Carpetas de node (si usas JavaScript en alguna parte del proyecto)
node_modules/
